<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head::head}"></head>


<body>

<div th:replace="~{fragments/navbar :: navbar}">
  Navbar
</div>

<div class="container text-light text-center">
    <h1 class="display-3"><strong class="bg-blur rounded">Welcome to</strong></h1>
    <h1 class="display-3"><strong class="bg-blur rounded">Marina</strong></h1>
    <h1 class="display-3"><strong class="bg-blur rounded">Tool Shop</strong></h1>


<!--    <form method="POST">-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <input type="text" name="productName" placeholder="Product Name" value="${tool.title}" />-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>-->
<!--                        <textarea name="description" rows="4" cols="20" placeholder="Description">${tool.description}-->
<!--                        </textarea>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <input type="text" name="price" placeholder="MRP" value="${tool.price}" />-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <select name="categoryId">-->
<!--                        <:forEach var='c' items="${categories}">-->
<!--                            <option value="${c.id}">${c.name}</option>-->
<!--                        </:forEach>-->
<!--                    </select>-->
<!--                    <input type="text" name="pid" value="${tool.id}"/>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <input type="text" name="manufactureName" placeholder="Manufacture Name" value="${tool.manufactures}" />-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <:if test="${empty product}">-->
<!--                        <input type="submit" value="Add Product" formaction="Product?m=c"/>-->
<!--                    </:if>-->
<!--                    <:if test="${not empty product}">-->
<!--                        <input type="hidden" value="${Tool.id}" name="id"/>-->
<!--                        <input type="submit" value="Update Product" formaction="Product?m=u" />-->
<!--                    </:if>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->

<!--    <table border='1'>-->
<!--        <tr>-->
<!--            <th>Name</th>-->
<!--            <th>Description</th>-->
<!--            <th>Price</th>-->
<!--            <th>Manufacture</th>-->
<!--            <th>Category</th>-->
<!--            <th colspan="2">Manage</th>-->
<!--        </tr>-->
<!--        <:forEach var="p" items="${tools}">-->
<!--            <tr>-->
<!--                <td>${p.name}</td>-->
<!--                <td>${p.description}</td>-->
<!--                <td>${p.price}</td>-->
<!--                <td>${p.manufactures}</td>-->
<!--                <td>${p.categoryId}</td>-->
<!--                <td><a href="Product?m=e&&id=${p.id}">Edit</a></td>-->
<!--                <td><a href="Product?m=d&&id=${p.id}">delete</a></td>-->
<!--                <td><a href="ProductDetails?m=r&&id=${p.id}">View Sellers</a></td>-->
<!--            </tr>-->
<!--        </:forEach>-->
<!--    </table>-->

    <div >
        <img width="700px" src="/images/tools.png" alt="Tools image">
    </div>
</div>






  <th:block sec:authorize="isAuthenticated()">
      <h3 class="text-center text-white" th:text="${fullName}"></h3>
      <h3 class="text-center text-white" th:text="${country}"></h3>
  </th:block>


  <footer></footer>
</div>
</body>
</html>
